{% extends "@BiCore/layout.html.twig" %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('react') }}
    {{ encore_entry_script_tags('maps') }}
    {{ encore_entry_script_tags('chart') }}
    <script>
        function loadChart() {
        {% for chart in charts %}
            {{ gc_draw(chart,'div_chart'~chart.elementId) }}
        {% endfor %}    
                }
    </script>

{% endblock%}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('maps') }}
    {{ encore_entry_link_tags('chart') }}
    {{ encore_entry_link_tags('battery') }}

{% endblock%}

{% block content %}
    <div id="root" class="row">
        
    </div>

    <div id="mygraph" class="row invisible">
        <div class="clearfix"></div>
        {% for chart in charts %}
            <div class="col-md-12">
                <div id="div_chart{{chart.elementId}}" class="chart"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
